@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import 'compass/css3';

$page-width: 980;

html {
  background: #CCC;
}

body {
  padding:50px 0;
  margin:0;
  font-size: 16px;
  font-family: "Galdeano", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#555;
  font-weight:300;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #DA3E3E;
  }
}

blockquote {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.06);
  color: #222222;
  font-style: italic;
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-size: 12px;
}

pre {
  background: none repeat scroll 0 0 #3A3C42;
  color: #F8F8F2;
  margin: 0 -20px 20px;
  padding: 20px;
  font-size: 12px;
}

pre code {
  color: #F8F8F2;
}

header {
  margin: 20px auto 0;
  width: 777px;
  height: 30px;

  h1 {
    display: inline-block;
    margin-right: 1em;
  }

  nav {
    display: inline-block;
  }

  a {
    text-shadow: 2px 2px 2px #E9E9E9;
  }
}

.wrapper {
  .content {
    width: #{$page-width}px;
    margin: 20px auto 0;

    article {
      background: none repeat scroll 0 0 #FAFAFA;
      border: 1px solid white;
      box-shadow: 0 1px 14px rgba(10, 10, 10, 0.3);
      font-size: 16px;
      margin: 40px auto;
      padding: 15px;
      text-shadow: 0 1px 1px white;
      width: 777px;

      img {
        border: 5px solid white;
        box-shadow: 0 1px 3px #333333;
        display: block;
        margin: 0 auto;
        max-width: 570px;
        text-align: center;
      }

      .meta {
        color: #C0C0C0;
        margin: 0.25em 0 1em;

        a {
          color: #C0C0C0;

          &:hover {
            color: #999;
          }
        }
      }
    }

    li.listing-item, li.listing-seperator {
      list-style-type:none;
      padding: 0;

      a {
        padding: .2em 1em;
      }

      time {
        color: #999999;
      }
    }

    li.listing-seperator {
      font-weight: bold;
    }
  }
}

.circle-wrapper {
  &:hover {
    .circle {
      background-color: #333333;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
    }
  };

  margin: 2em 0;
  display: block;
}

.circle {
  display:inline-block;
  $radius: .4em;
  width: $radius * 2;
  height: $radius * 2;
  line-height: 1;
  background-color: #fff;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.center {
  text-align: center;
}

footer {
  width: 777px;
  margin: 0px auto;
  padding: 0;
  color:#000;
  overflow:hidden;
  
  a {
    color:#000;
    font-weight:bold;
  }
  
  p {
    float:left;
  }
  
  p + p {
    float:right;
  }
}