@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
/* line 8, ../_sass/styles.scss */
html {
  background: #CCC;
}

/* line 12, ../_sass/styles.scss */
body {
  padding: 50px 0;
  margin: 0;
  font-size: 16px;
  font-family: "Galdeano", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}

/* line 21, ../_sass/styles.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 25, ../_sass/styles.scss */
a:hover {
  color: #DA3E3E;
}

/* line 30, ../_sass/styles.scss */
blockquote {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.06);
  color: #222222;
  font-style: italic;
  margin: 0 -20px 20px;
  padding: 15px 20px 1px 40px;
  font-size: 12px;
}

/* line 39, ../_sass/styles.scss */
pre {
  background: none repeat scroll 0 0 #3A3C42;
  color: #F8F8F2;
  margin: 0 -20px 20px;
  padding: 20px;
  font-size: 12px;
}

/* line 47, ../_sass/styles.scss */
pre code {
  color: #F8F8F2;
}

/* line 51, ../_sass/styles.scss */
header {
  margin: 20px auto 0;
  width: 777px;
  height: 30px;
}
/* line 56, ../_sass/styles.scss */
header h1 {
  display: inline-block;
  margin-right: 1em;
}
/* line 61, ../_sass/styles.scss */
header nav {
  display: inline-block;
}
/* line 65, ../_sass/styles.scss */
header a {
  text-shadow: 2px 2px 2px #E9E9E9;
}

/* line 71, ../_sass/styles.scss */
.wrapper .content {
  width: 980px;
  margin: 20px auto 0;
}
/* line 75, ../_sass/styles.scss */
.wrapper .content article {
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid white;
  box-shadow: 0 1px 14px rgba(10, 10, 10, 0.3);
  font-size: 16px;
  margin: 40px auto;
  padding: 15px;
  text-shadow: 0 1px 1px white;
  width: 777px;
}
/* line 85, ../_sass/styles.scss */
.wrapper .content article img {
  border: 5px solid white;
  box-shadow: 0 1px 3px #333333;
  display: block;
  margin: 0 auto;
  max-width: 570px;
  text-align: center;
}
/* line 94, ../_sass/styles.scss */
.wrapper .content article .meta {
  color: #C0C0C0;
  margin: 0.25em 0 1em;
}
/* line 98, ../_sass/styles.scss */
.wrapper .content article .meta a {
  color: #C0C0C0;
}
/* line 101, ../_sass/styles.scss */
.wrapper .content article .meta a:hover {
  color: #999;
}
/* line 108, ../_sass/styles.scss */
.wrapper .content li.listing-item, .wrapper .content li.listing-seperator {
  list-style-type: none;
  padding: 0;
}
/* line 112, ../_sass/styles.scss */
.wrapper .content li.listing-item a, .wrapper .content li.listing-seperator a {
  padding: .2em 1em;
}
/* line 116, ../_sass/styles.scss */
.wrapper .content li.listing-item time, .wrapper .content li.listing-seperator time {
  color: #999999;
}
/* line 121, ../_sass/styles.scss */
.wrapper .content li.listing-seperator {
  font-weight: bold;
}

/* line 127, ../_sass/styles.scss */
.circle-wrapper {
  margin: 2em 0;
  display: block;
}
/* line 129, ../_sass/styles.scss */
.circle-wrapper:hover .circle {
  background-color: #333333;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
}

/* line 140, ../_sass/styles.scss */
.circle {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  line-height: 1;
  background-color: #fff;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
}

/* line 151, ../_sass/styles.scss */
.center {
  text-align: center;
}

/* line 155, ../_sass/styles.scss */
footer {
  width: 777px;
  margin: 0px auto;
  padding: 0;
  color: #000;
  overflow: hidden;
}
/* line 162, ../_sass/styles.scss */
footer a {
  color: #000;
  font-weight: bold;
}
/* line 167, ../_sass/styles.scss */
footer p {
  float: left;
}
/* line 171, ../_sass/styles.scss */
footer p + p {
  float: right;
}
